table {
  width: 65dvw;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}
th, td {
   text-align: left;
   padding: 12px 16px;
   vertical-align: middle;
   gap: 160dvh;
 }

tr {
  border-bottom: 1px solid #ccc;
  height: 4.35dvh;
}
tr:last-child {
  border-bottom: none;
}

td {
  padding: 8px;
}
h1{
  text-align: center;
}
