<h1>TRAMBOARD</h1>

@if (loading()) {
  <div>Loading departures...</div>
}
@if (error()) {
  <div>{{ error() }}</div>
}

@if (!loading() && !error()) {
  <table>
    <thead>
    <tr>
      <th>Linie</th>
      <th>Richtung</th>
      <th>Planzeit</th>
      <th>Echtzeit</th>
      <th>Bei Haltestelle</th>
    </tr>
    </thead>
    <tbody>
      @for (dep of departures(); track dep.stopSeqNumber) {
        <tr>
          <td>{{ dep.line }}</td>
          <td>{{ dep.destination }}</td>
          <td>{{ dep.plannedTime | date:'HH:mm:ss':'Europe/Vienna' }}</td>
          <td>{{ dep.estimatedTime | date:'HH:mm:ss':'Europe/Vienna' }}</td>
          <td>{{ dep.stopName }}</td>
      }
    </tbody>
  </table>
}
